{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}تغيير كلمة المرور{% endblock title %}

{% block content %}
  <h4>{% if token_fail %}المفتاح غير صحيح{% else %}Change Password{% endif %}</h4>

  {% if token_fail %}
    <p> رابط إعادة تعيين كلمة المرور غير صالح. ربما تم استخدامه بالفعل؟ يرجى طلب <a href="{% url 'account_reset_password' %}"> كلمة مرور جديدة</a>.</p>
  {% else %}
    {% if form %}
      <form method="POST" action=".">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary" type="submit">تغيير كلمة المرور</button>
      </form>
    {% else %}
        <p>تم تغيير كلمة المرور بنجاح.</p>
    {% endif %}
  {% endif %}
{% endblock content%}
