{% extends '_base.html' %}

{% block title %}الملف الشخصي{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="width: 400px;">
    <h4 class="text-center mb-4">الملف الشخصي</h4>

    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}

      <button class="btn btn-success w-100" type="submit">تحديث المعلومات</button>
    </form>

    {% if messages %}
      <div class="mt-4">
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
