{% extends '_base.html' %}

{% block title %}الطلبيات{% endblock %}

{% block content %}
{% for request in user_requests %}
<form id="cancel-form-{{ request.id }}" method="post" action="{% url 'cancel_request' request.id %}"
    style="display:none;">
    {% csrf_token %}
    <!-- Any other fields you might need to submit with the form -->
</form>

<!-- Cancel Confirmation Modal -->
<div class="modal fade" id="cancelModal{{ request.id }}" tabindex="-1" aria-labelledby="cancelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">تأكيد</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                هل أنت متأكد؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
                <button type="button" class="btn btn-danger"
                    onclick="document.getElementById('cancel-form-{{ request.id }}').submit();">تأكيد</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="table-responsive">
    مرحبا بك <b><i>{{ user.first_name }} {{ user.last_name }}</i></b>،
    من فضلك قم بإرجاع الاجهزة والمعدات التى لم تعد في حاجة اليها.
    <hr>
    <h5>الطلبات المقبولة:</h5>
    {% if user_requests.exists %}
    <table class="table">
        <thead>
            <tr>
                <th>المنتج</th>
                <th>الكمية</th>
                <th>تاريخ الطلب</th>
                <th>الحالة</th>
                <th>إجراء</th>
            </tr>
        </thead>
        <tbody>
            {% for request in user_requests %}
            {%if request.status == "accepted" %}
            <tr>
                <td>{{ request.product.الاسم }}</td>
                <td>{{ request.quantity }}</td>
                <td>{{ request.request_date|date:"Y-m-d" }}</td>
                <td>مقبول</td>
                <td>
                    <form action="{% url 'cancel_request' request.id %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                            data-bs-target="#cancelModal{{ request.id }}">طلب إرجاع</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="5">لا توجد طلبات في هذه الفئة.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>لم تقم بأية طلبات بعد.</p>
    {% endif %}
</div>
<br>
<div class="table-responsive">

    <h5>الطلبات المعلقة:</h5>
    {% if user_requests %}
    <table class="table">
        <thead>
            <tr>
                <th>المنتج</th>
                <th>الكمية</th>
                <th>تاريخ الطلب</th>
                <th>الحالة</th>
                <th>إجراء</th>
            </tr>
        </thead>
        <tbody>
            {% for request in user_requests %}
            {%if request.status == "pending" %}
            <tr>
                <td>{{ request.product.الاسم }}</td>
                <td>{{ request.quantity }}</td>
                <td>{{ request.request_date|date:"Y-m-d" }}</td>
                <td>قيد الانتظار</td>
                <td>
                    <form action="{% url 'cancel_request' request.id %}" method="post">
                        {% csrf_token %}
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                            data-bs-target="#cancelModal{{ request.id }}">إلغاء الطلب</button>
                    </form>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="5">لا توجد طلبات في هذه الفئة.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>لم تقم بأية طلبات بعد.</p>
    {% endif %}
</div>
<br>
<div class="table-responsive">
    <h5>الطلبات المرفوضة:</h5>
    {% if user_requests %}
    <table class="table">
        <thead>
            <tr>
                <th>المنتج</th>
                <th>الكمية</th>
                <th>تاريخ الطلب</th>
                <th>الحالة</th>
            </tr>
        </thead>
        <tbody>
            {% for request in user_requests %}
            {%if request.status == "denied" %}
            <tr>
                <td>{{ request.product.الاسم }}</td>
                <td>{{ request.quantity }}</td>
                <td>{{ request.request_date|date:"Y-m-d" }}</td>
                <td>مرفوض</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="5">لا توجد طلبات في هذه الفئة.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>لم تقم بأية طلبات بعد.</p>
    {% endif %}
</div>
<br>
{% endblock content %}