{% extends '_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "الصفحة الرئيسية" %}{% endblock title %}

{% block content %}



<!-- Category Filter Links -->
<div class="container mb-4 text-center">
  <div class="nav" aria-label="Category filter">
    <a href="{% url 'home' %}" class="btn btn {% if not current_category %}active{% endif %}">{% trans "الكل" %}</a>
    <a href="{% url 'home' %}?category=accessory" class="btn btn {% if current_category == 'accessory' %}active{% endif %}">{% trans "ملحقات" %}</a>
    <a href="{% url 'home' %}?category=laptop" class="btn btn {% if current_category == 'laptop' %}active{% endif %}">{% trans "لابتوبات" %}</a>
    <a href="{% url 'home' %}?category=desktop" class="btn btn {% if current_category == 'desktop' %}active{% endif %}">{% trans "كمبيوترات مكتبية" %}</a>
    <a href="{% url 'home' %}?category=server" class="btn btn {% if current_category == 'server' %}active{% endif %}">{% trans "سيرفرات" %}</a>
  </div>
</div>

<!-- Product List -->
<div class="container">
  <div class="list-group">
    {% for product in page_obj %}
    <div class="list-group-item d-flex align-items-center justify-content-between p-3">
      <div class="d-flex align-items-center">
        <div style="width: 150px; height: 150px; overflow: hidden; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
          <img src="{{ product.الصورة.url }}" alt="{{ product.الاسم }}" class="img-fluid" style="object-fit: contain; width: 100%; height: 100%;">
        </div>
        <div class="ms-3">
          <h5 class="mb-1">{{ product.الاسم }} - {{ product.الصناعة }}</h5>
          <h6 class="text-muted">{% trans "الموديل" %}: {{ product.الموديل }}</h6>
          <p class="mb-2 text-muted">{{ product.الوصف|truncatewords:20 }}</p>
          
          <!-- Use One-to-One relation directly -->
          {% if product.المخزون and product.المخزون.الكمية > 0 %}
          <span class="badge bg-success">
            {% trans "متوفر" %}: {{ product.المخزون.الكمية }}
          </span>
          {% else %}
          <span class="badge bg-danger">
            {% trans "غير متوفر" %}
          </span>
          {% endif %}
        </div>
      </div>
      {% if user.is_authenticated  and not user.is_superuser%}
      <div>
        <button type="button" class="button-19" data-bs-toggle="modal" data-bs-target="#requestModal{{ product.id }}">
          {% trans "طلب" %} <i class="bi bi-cart-plus"></i>
        </button>
      </div>
      {% endif %}
    </div>

    <!-- Request Modal -->
    <div class="modal fade" id="requestModal{{ product.id }}" tabindex="-1" aria-labelledby="requestModalLabel{{ product.id }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="requestModalLabel{{ product.id }}">{% trans "طلب المنتج" %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="{% url 'submit_request' %}" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <input type="hidden" name="product_id" value="{{ product.id }}">
              <label for="quantity{{ product.id }}" class="form-label">{% trans "الكمية" %}:</label>
              <input type="number" class="form-control text-center" id="typeNumber{{ product.id }}" name="quantity" min="1" value="1">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-success">{% trans "تأكيد الطلب" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="alert alert-warning text-center" role="alert">
      {% trans "لا توجد أجهزة متاحة" %}. {% trans "قم بالعودة لاحقاً" %}.
    </div>
    {% endfor %}
  </div>
</div>

<!-- Pagination -->
<div class="container mt-4">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
        <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}{% else %}#{% endif %}">
          {% trans "السابق" %}
        </a>
      </li>
      {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}{% if current_category %}&category={{ current_category }}{% endif %}">{{ num }}</a>
      </li>
      {% endfor %}
      <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
        <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% if current_category %}&category={{ current_category }}{% endif %}{% else %}#{% endif %}">
          {% trans "التالي" %}
        </a>
      </li>
    </ul>
  </nav>
</div>

{% endblock content %}
