{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}المستودع{% endblock %}</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% block css %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        المستودع
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'manage_requests' %}active{% endif %}"
              href="{% url 'manage_requests' %}">{% trans 'إدارة الطلبات' %}</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" aria-current="page"
              href="{% url 'home' %}">{% trans 'الاجهزة والملحقات' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}"
              href="{% url 'about' %}">{% trans 'الطلبيات' %}</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
              href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% trans 'الضبط' %}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">{{ user.email }}</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'account_change_password' %}">
                  {% trans 'تغيير كلمة المرور' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">{% trans 'تسجيل الخروج' %}</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="btn btn-primary nav-link" href="{% url 'account_login' %}">{% trans 'تسجيل الدخول' %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>





  <div class="container mt-4 homebg">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}
    <!-- Default content if none provided -->
    {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="footer mt-auto py-3 bg-dark">
    <div class="container-fluid text-center">
      <span class="text-white">
        {% trans 'في حالة مواجهة اي مشكلة قم بالتواصل مع فريق الدعم الفني على' %}
        <a href="mailto:support@ITdepartment.com" class="text-info">support@ITdepartment.com</a>
      </span>
    </div>
  </footer>

  {% block javascript %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% endblock %}
</body>

</html>